:root {
	--fore: black;
	--back: white;

	--r: rgb(252, 70, 76);
	--o: rgb(253, 138, 45);
	--y: rgb(252, 203, 9);
	--g: rgb(167, 211, 31);
	--c: rgb(37, 220, 215);
	--b: rgb(45, 148, 213);
	--p: rgb(164, 75, 215);
	--k1: rgb(53, 63, 67);
	--k2: rgb(83, 99, 105);
	--k3: rgb(173, 181, 184);

	--1: rgb(253, 104, 60);
	--2: rgb(253, 171, 28);
	--3: rgb(211, 207, 20);
	--4: rgb(104, 215, 120);
	--5: rgb(41, 184, 214);

	--grad-1:   linear-gradient(120deg, var(--r) 0%, var(--o) 100%);
	--grad-2:   linear-gradient(120deg, var(--o) 0%, var(--y) 100%);
	--grad-3:   linear-gradient(120deg, var(--y) 0%, var(--g) 100%);
	--grad-4:   linear-gradient(120deg, var(--g) 0%, var(--c) 100%);
	--grad-5:   linear-gradient(120deg, var(--c) 0%, var(--b) 100%);

	--mostly-p: linear-gradient(120deg, var(--y) 0%, var(--c) 100%);
	--mostly-n: linear-gradient(120deg, var(--r) 0%, var(--y) 100%);

	--mixed:    linear-gradient(120deg, var(--r) 0%, var(--p) 50%, var(--b) 100%);

	--prob-p:   linear-gradient(120deg, var(--c) 0%, var(--b) 50%, var(--p) 100%);
	--prob-n:   linear-gradient(120deg, var(--o) 0%, var(--r) 50%, var(--p) 100%);
	
	--elim-p:   linear-gradient(120deg, var(--c) 0%, rgb(37,118,170) 50%, var(--k1) 100%);
	--elim-n:   linear-gradient(120deg, var(--o) 0%, rgb(194,55,60 ) 50%, var(--k1) 100%);

	--unknown:  linear-gradient(120deg, var(--k3) 0%, var(--k2) 100%);
}

@media (prefers-color-scheme: dark) {
	:root {
		--fore: white;
		--back: black;

		--r: rgb(202, 22, 54);
		--o: rgb(220, 88, 1);
		--y: rgb(207, 181, 67);
		--g: rgb(111, 175, 27);
		--c: rgb(31, 191, 186);
		--b: rgb(65, 111, 194);
		--p: rgb(136, 59, 173);
		--k1: rgb(83, 99, 105);
		--k3: rgb(53, 63, 67);

		--1: rgb(191, 63, 6);
		--2: rgb(211, 131, 2);
		--3: rgb(192, 189, 18);
		--4: rgb(49, 183, 68);
		--5: rgb(37, 134, 181);
	}
}

html.cvd {
	--r: rgb(225, 55, 55);
	--o: rgb(248, 157, 0);
	--y: rgb(14, 241, 97);
	--g: rgb(23, 191, 160);
	--c: rgb(1, 179, 255);
	--b: rgb(144, 32, 224);
	--p: rgb(147, 57, 93);

	--1: rgb(255, 60, 1);
	--2: rgb(246, 215, 8);
	--3: rgb(0, 227, 185);
	--4: rgb(0, 162, 231);
	--5: rgb(149, 1, 255);
}

.bg-mood-1   { background: var(--1); --shadow: var(--1); }
.bg-mood-2   { background: var(--2); --shadow: var(--2); }
.bg-mood-3   { background: var(--3); --shadow: var(--3); }
.bg-mood-4   { background: var(--4); --shadow: var(--4); }
.bg-mood-5   { background: var(--5); --shadow: var(--5); }

.bg-grad-1   { background: var(--grad-1); --shadow: var(--1); }
.bg-grad-2   { background: var(--grad-2); --shadow: var(--2); }
.bg-grad-3   { background: var(--grad-3); --shadow: var(--3); }
.bg-grad-4   { background: var(--grad-4); --shadow: var(--4); }
.bg-grad-5   { background: var(--grad-5); --shadow: var(--5); }

.bg-mostly-p { background: var(--mostly-p); --shadow: var(--g); }
.bg-mostly-n { background: var(--mostly-n); --shadow: var(--o); }

.bg-mixed    { background: var(--mixed); --shadow: var(--p); }

.bg-prob-p   { background: var(--prob-p); --shadow: var(--b); }
.bg-prob-n   { background: var(--prob-n); --shadow: var(--r); }

.bg-elim-p   { background: var(--elim-p); --shadow: var(--k2); }
.bg-elim-n   { background: var(--elim-n); --shadow: var(--k2); }

.bg-unknown  { background: var(--unknown); --shadow: var(--k3); }
.bg-subtle   { background: var(--k3); --shadow: transparent; }


body {
	background: var(--back);
	color: var(--fore);

	font-family: 'Assistant', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

ul {
	list-style: none;
	padding: 0;
}

hr {
	margin: 1rem;
}

.dropdown-toggle:focus {
	outline: none;
}